
body {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  font-family: Avenir-book, 'Open Sans', sans-serif;
  background-color:#ffb57f;
}

a:link {
  text-decoration: none;
  color: #232325;
}


a:visited {
  color: #232325;
}

a:hover {
  color: #232325;
}

a:active {
  color: #232325;
}



/* ++++++++++++++++ NAVIGATION +++++++++++++++ */

#nav {
  background-color:#ffb57f;
  position:fixed;
  width:100%;
   z-index:10;
}

#nav ul li {
  display: inline-block;
  text-decoration: none;
  float:right;
  color:white;
  margin: 0 37px 15px 20px;
}

#nav ul a li.home {
    float: left;
    margin-left: 0px;
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
    position: absolute;
}

#nav ul a li.about, #nav ul a li.work:hover  {
border-bottom: 1.5px solid white;
  }





/* ++++++++++++++++ About me PANEL +++++++++++++++ */

.name {
  width:100%;
  background-color:white;
  padding: 60px 0px 80px;
}

.name .width-wrapper h1 {
  font-size:4.8em;
  font-weight:bold;
  line-height: 1.2em;
}

.name .width-wrapper h2 {
  margin-top:20px;
  font-size:2.2em;
  text-align:center;
  color: #ffb57f;
}

.name .width-wrapper h3 {
  font-size:1em;
  text-transform:uppercase;
}

img {
  width:200px;
  margin:0 auto;
  display:block;
}

.width-wrapper {
  width:90%;
  max-width:715px;
  margin:0 auto;
  display: block;
  padding-top:70px;
}

ul.mylinks li {
  display: inline-block;
  text-decoration: none;
  margin-right:20px;
  color:#ed6464;
}

ul.mylinks {
  padding-left: 0px;
  position:relative;
  bottom:52px;
  margin-top: 0px;
}

ul.mylinks a li:hover {
  border-bottom: 1.5px solid #ed6464;
}

ul.resumelinkedin li {
  display: inline-block;
  text-decoration: none;
  margin-right:20px;
  color: #ffb57f;
  border: 1.5px solid #ffb57f;
      padding: 10px 20px;
    border-radius: 25px;
}

ul.resumelinkedin {
  padding-left: 0px;
  position:relative;
  bottom:52px;
  margin-top: 10px;
}

ul.resumelinkedin a li:hover {
  background: #ffb57f;
  color: white;
}

.resumelinkedin-holder {
      width: 247px;
    margin: 0 auto;
    display: block;
    position: relative;
    left: 13px;
    padding-top: 20px;
}







.left, .right {
  display:inline-block;

}

.left {
  width:20%;
  vertical-align: top;
  font-weight:bold;
}

.right {
  width:75%;
  margin-bottom:18px;
}

.right ul li {
  padding-bottom:6px;
}

.right .nobullets {
  padding:16px 0px 16px 21px;
}

.right a:link, .right a:visited, .right a:active {
  color:#fb8d3c;
  text-decoration: underline;
}

.right a:hover {
  text-decoration: unset;
}



.socialicons {
    font-size: 25px;
    color:#ffb57f;
}

.socialicons i {
  padding:10px 10px 0 0;
}




/* ++++++++++++++++ CASE STUDIES +++++++++++++++ */

.casestudies {
  margin:0 auto;
  padding-top:20px;
}

.name .width-wrapper .casestudies img.casestudies-head {
padding:unset;
width:70%;
}

.name .width-wrapper .casestudies h1 {
  font-size:3.8em;
  text-align: center;
  margin-bottom:0px;
}

.name .width-wrapper .casestudies h2 {
  font-size:24px;
  text-align: left;
  margin-top:50px;
}

.name .width-wrapper .casestudies h3 {
  font-size:15px;
  text-align: center;
  font-weight:100;
}

.name .width-wrapper .casestudies h5 {
  text-align: center;
}

.name .width-wrapper .casestudies img {
  width:100%;
  padding:20px 0;
}

#outside {
  padding:20px 0;
  width: 160%;
    margin: 0 auto;
    display: block;
    position: relative;
    right: 28%;
}
#outside img {
  display:inline-block;
  width:46%;
  margin-left:20px;
}

#problemstatement-whole {
  padding:20px 0;
}

.name .width-wrapper .casestudies .problemstatement-left {
  width:150px;
  display:inline-block;
  border-right: 2px solid grey;

}

.name .width-wrapper .casestudies .problemstatement-left {

}

.name .width-wrapper .casestudies .problemstatement-right {
  display:inline-block;
  width: 60%;
  margin-left:30px;

}

img.wholefooter {
  width:100%;
}


















/* ++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++ MEDIA QUERIES ++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++ IPHONE 6 + LESS ++++++++ */

@media (max-width: 420px) {

    .width-wrapper {
        width:338px;
    }

    .name .width-wrapper h1 {
        font-size: 2.81em;
    }

    .name .width-wrapper h2 {
        font-size: 25px;
    }

    ul.mylinks {
        margin-top:3em;
    }

    #nav ul a li.home {
        display: block;
        position:relative;
        right:25px;
        margin: 0 auto;
    }

    #nav ul li {
        margin: 0px 16px 20px 10px;
    }

    .cases-textbox {
        width:330px;
    }

    .cases-textbox h1 {
        font-size:54px;
        line-height:60px;
    }

    a.jam .cases-textbox h1, a.chill .cases-textbox h1 {
        padding-top:10px;
    }

    .cases-textbox h2 {
        font-size:25px;
    }

    .left, .right {
    display: block;
    width: 100%;
    font-size:17px;
   }

   .right ul {
    padding-top:12px;
    position:relative;
    right:15px;
   }

   .right .nobullets {
    padding: 16px 0px 16px 0px;
}

}
